<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring MVC Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h2>New Product</h2>
    <form class="form-horizontal" th:object="${productForm}" th:action="@{/product}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{form.hasErrors}">test error</p>
        </div>
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{version}" />
        <div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-static" th:field="*{description}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('price')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Price:</label>
            <div class="col-sm-10">
                <input type="number" step="0.01" class="form-control-static" th:field="*{price}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('imageUrl')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 sm-2 control-label">Image URL:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-static" th:field="*{imageUrl}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('imageUrl')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>