<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring MVC Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Show Product</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Id:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.id}">Product Id</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.description}">Description</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.price}">Price</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 sm-2 control-label">Image URL:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.imageUrl}">Image</p>
                        </div>
                    </div>
                </form>
                <a class="btn btn-info" th:href="@{/products}">List</a>
            </div>
        </div>
    </div>
</body>
</html>