<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring MVC Customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="container">
    <div th:if="${not #lists.isEmpty(customers)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip code</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.addressOne}"></td>
                <td th:text="${customer.addressTwo}"></td>
                <td th:text="${customer.city}"></td>
                <td th:text="${customer.state}"></td>
                <td th:text="${customer.zipCode}"></td>
                <td><a th:href="${'/customer/' + customer.id}">Show</a></td>
                <td><a th:href="${'/customer/update/' + customer.id}">Edit</a></td>
                <td><a th:href="${'/customer/delete/' + customer.id}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
        <a th:href="@{/customer/new}" class="btn btn-info">Add</a>
    </div>
</body>
</html>