<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring MVC Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Show Customer</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer Id:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.id}">Customer Id</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer first name:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.firstName}">Customer firstName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer last name:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.lastName}">Customer lastName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer email:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.email}">Customer email</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer phone number:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.phoneNumber}">Customer phoneNumber</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer address:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.addressOne}">Customer addressOne</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer address:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.addressTwo}">Customer addressTwo</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer city:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.city}">Customer city</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer state:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.state}">Customer state</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Customer zip code:</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="${customer.zipCode}">Customer zipCode</p>
                        </div>
                    </div>
                </form>
                <a class="btn btn-info" th:href="@{/customers}">List</a>
            </div>
        </div>
    </div>
</body>
</html>