<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring MVC Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h2>New Customer</h2>
    <form class="form-horizontal" th:object="${customerForm}" th:action="@{/customer}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{form.hasErrors}">test error</p>
        </div>
        <input type="hidden" th:field="*{userId}" />
        <input type="hidden" th:field="*{userVersion}" />
        <input type="hidden" th:field="*{customerId}" />
        <input type="hidden" th:field="*{customerVersion}" />
        <div class="form-group" th:class="${#fields.hasErrors('userName')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">User name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-static" th:field="*{userName}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('userName')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('passwordText')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control-static" th:field="*{passwordText}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('passwordText')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password Conf:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control-static" th:field="*{passwordTextConf}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-static" th:field="*{firstName}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Last name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-static" th:field="*{lastName}" />
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-static" th:field="*{email}" th:errorclass="has-error"/>
            <span class="help-block">
                <ul>
                    <li th:each="err : ${#fields.errors('email')}"  th:text="${err}"/>
                </ul>
            </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Phone:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-static" th:field="*{phoneNumber}" />
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>